.MainHome {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    @apply
    p-1
    rounded-lg
   
}
.home {
    width: 100%;
    @apply
    p-2
    rounded-lg
    flex
    flex-col
    gap-2
    md:grid
    grid-cols-3
   
}
.postList {
    @apply
    p-2
    w-3/4
    rounded-lg
    m-2
   
}
.homeHead {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem;
}